.createblog {
  padding: 7rem;

  &-h2 {
    font-size: 3rem;
  }

  &-backarrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-icon {
      cursor: pointer;
      width: 2.5rem;
      height: 2.5rem;

      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }
}
