.cart-dropdown {
  position: absolute;
  width: 360px;
  height: 420px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid grey;
  background-color: white;
  top: 139px;
  right: 40px;
  z-index: 4;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 308px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    height: 50px;
  }
}
