.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;

  &-header {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

  &-block {
    width: 34%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin: 11rem;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
  }
  &-name {
    font-size: 1.8rem;
    font-style: italic;
    color: rgb(80, 80, 80);

    &-box {
      font-size: 2rem;
    }
  }

  &-button {
    display: flex;
    justify-content: center;
  }
}
