.product {
  display: flex;
  justify-content: center;
  margin: 2rem;

  &-arrow {
    width: 2rem;
    height: 2rem;
  }

  &-item {
    width: 100rem;
    border: 1px solid rgb(226, 226, 226);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 4rem;

    &-top {
      display: flex;
      justify-content: space-between;
      &-left {
        width: 40rem;
        height: 45rem;
        border-radius: 10px;
      }

      &-right {
        width: 40rem;

        &-h2 {
          font-size: 3.7rem;
          font-weight: 900;
          line-height: 4rem;
          margin-bottom: 2rem;
        }

        &-p {
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }

        &-h4box {
          display: flex;
          font-size: 1.6rem;
          margin-bottom: 2rem;

          &-left {
            color: greenyellow;
            margin-right: 1rem;
          }

          &-right {
            color: goldenrod;

            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }

        &-kgbox {
          margin-bottom: 2rem;
          &-header {
            font-size: 1.5rem;
            margin-bottom: 2rem;
          }

          &-box {
            display: flex;
            &-block {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 10rem;

              &-con {
                margin: 0 0.5rem;
                cursor: pointer;
                padding: 2em 2.6rem;
                border: 2px solid white;

                &:hover {
                  border: 2px solid red;
                  border-radius: 7px;
                }

                &-1 {
                  padding: 2em 2.6rem;
                  border: 2px solid red;
                  border-radius: 7px;

                  h4 {
                    font-size: 2rem;
                    font-weight: 700;
                  }

                  p {
                    font-size: 1.2rem;
                  }
                }

                h4 {
                  font-size: 2rem;
                  font-weight: 700;
                }

                p {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }

        &-blue {
          background-color: rgba(193, 208, 226, 0.453);
          font-size: 2rem;
          padding: 0.5rem;
          border-radius: 5px;
          margin-bottom: 2rem;
        }

        &-pricebox {
          display: flex;
          margin-bottom: 2rem;
          &-real {
            margin-right: 2rem;
            // text-align: center;
            p {
              font-size: 1.6rem;
              font-weight: 700;
            }

            &-num1 {
              font-size: 3.5rem;
              color: orange;
            }
          }

          &-ex {
            p {
              font-size: 1.6rem;
              font-weight: 700;
            }
            &-num2 {
              font-size: 3.5rem;
              color: lightgray;
            }
          }
        }

        &-quantity {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          p {
            font-size: 1.6rem;
            margin-right: 2rem;
          }
          &-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
            color: orange;
            border: 3px solid orange;
            padding: 1.5rem;
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 100px;

            &:hover {
              background-color: orange;
              color: white;
            }
          }

          &-number {
            text-align: center;
            font-size: 2.5rem;
            width: 3rem;
            padding: 0 1rem;
          }
        }

        &-addtocart {
          display: flex;
          align-items: center;
          &-button {
            background-color: crimson;
            color: wheat;
            width: 20rem;
            height: 5rem;
            border-radius: 100px;
            border: none;
            font-size: 1.6rem;
            font-weight: 700;
            margin-right: 2rem;
          }

          &-like {
            font-size: 1.6rem;

            span {
              font-size: 2rem;
              color: red;
            }
          }
        }
      }
    }

    &-bottom {
      margin-top: 5rem;

      &-header {
        font-size: 2rem;
      }
    }
  }
}

.desc {
  text-align: justify;
  font-size: 1.4rem;
}

.item {
  display: flex;
  justify-content: center;
}

.arrowBox {
  cursor: pointer;
  width: 5rem;
  height: 4rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(226, 226, 226);

  &:hover {
    background-color: #f0eeee;
  }
}
