.btn {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  color: white;
  background: #da5350;
  padding: 1.25rem 2.5rem;
  border: 0;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 36px;
  line-height: 1;
  transition: 0.2s ease;
  font-family: 'Filson Pro Regular';

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0px 0px 36px -8px rgba(218, 83, 80, 1);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(0);
    box-shadow: 0 0.5rem 0.5rem rgba(#da5350, 0.1);
  }
}
