.selected {
}
.navbar {
  background: white;
  color: #da5350;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // transition: all 0.6s ease;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.hide {
    top: -11rem;
  }

  &-logo {
    &-img {
      width: 6rem;
    }
  }

  &-routes {
    &--list {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &-icon {
        fill: red;
        height: 2rem;
        width: 2rem;
      }
      li {
        position: relative;
        list-style: none;
        padding: 1rem 2rem;
        margin: 0 0.2rem;
        transition: 0.2s ease;

        &:active {
          border: none;
        }

        a {
          font-size: 1.5rem;
          position: relative;
          text-decoration: none;
          color: #150808;
          letter-spacing: 2px;
          font-weight: 500px;
          transition: 0.5s;
        }
      }
    }
  }

  &-rightside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu1 {
  position: relative;
}

.ani-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-3em);
  z-index: -1;
  transition: all 0.3s ease 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.bottombar {
  &-list {
    display: flex;
    z-index: -34;
    width: 100%;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    transform: scaleY(0.3);
    -webkit-transform: scaleY(0.3);
    -ms-transform: scaleY(0.3);
    position: absolute;
    background-color: #da5350;
    opacity: 0;

    justify-content: space-around;
    padding: 1.3rem;
    -webkit-transition: -webkit-transform 0.15s
      cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    &-li {
      list-style: none;
      font-size: 1.6rem;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.show-menu {
  opacity: 1;
  z-index: 3;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.profile-box {
  cursor: pointer;

  width: 25rem;
  // background-color: lightgrey;
  height: 6rem;
  display: flex;
  // justify-content: flex-end;
  align-items: center;
  &-icon {
    margin: 2rem;
    width: 30px;
    height: 30px;
  }

  &-name {
    font-size: 1.5rem;
  }

  &-dropmenu {
    cursor: pointer;

    z-index: -34;
    width: 100%;
    position: absolute;
    background-color: #da5350;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.3rem;
    opacity: 0;
    color: white;
    // transform: translateY(-162px);
    // transition: 0.3s linear;

    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);

    -webkit-transition: -webkit-transform 0.15s
      cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);

    &-item {
      padding: 1rem;
      list-style: none;
      font-size: 1.6rem;

      &:hover {
        background-color: white;
        color: #fd323d;
      }
    }
  }
}

.navbar-rightside-block {
  position: relative;
  // height: 8rem;
}

.dropmenu-open {
  opacity: 1;
  z-index: 3;
  // transform: translateY(0);
  // -webkit-transform-origin: center top;
  // -ms-transform-origin: center top;
  // transform-origin: center top;

  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);

  // -webkit-transform-origin: center top;
  // -ms-transform-origin: center top;
  // transform-origin: center top;
  // -webkit-transition: -webkit-transform 0.15s
  //   cubic-bezier(0.215, 0.61, 0.355, 1);
  // transition: -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  // -o-transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  // transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
  //   -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

// position: absolute;
// background-color: #410078;
// top: 100%;
// padding: 30px;
// left: -30px;
// border-radius: 0 0 10px 10px;
// width: 245px;
// -webkit-box-shadow: 0 1px 3px rgba(77, 71, 81, 0.2),
//   inset 0 3px 5px -4px rgba(0, 0, 0, 0.4);
// box-shadow: 0 1px 3px rgba(77, 71, 81, 0.2),
//   inset 0 3px 5px -4px rgba(0, 0, 0, 0.4);

.rotate {
  // transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  margin-left: 1rem;
  height: 1.1rem;
  width: 1.1rem;
  transition: 0.2s;
  // transform: rotate(0deg);
  // -webkit-transform: rotate(0deg);
  // animation: rotation 0.4s linear;
}

.rotate2 {
  transition: 0.2s;
  margin-left: 1rem;
  fill: crimson;
  height: 1.1rem;
  width: 1.1rem;
  // transform: rotate(180deg);
  // -webkit-transform: rotate(180deg);
}
