html {
  font-size: 62.5%;
}

html,
body {
  // height: 100%;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Filson Pro Regular', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.App {
  width: 100%;
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}
