*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Filson Pro Regular', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  // font-size: 1em;
}

/*
// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

*/

:root {
  --color-primary-light: #eca39b;
  --color-primary-dark: #b93537;
  --color-primary-darkest: #981020;
  --color-primary: #da5350;

  --color-secondary-light: #d69f5c;
  --color-secondary: #663625;
  --color-secondary-brown: #b86d32;

  --color-vanilla2: #fdd7be;

  --color-vanilla: #ffe4de;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  // FONT VARIABLES
  --font-primary: 'Filson Pro Regular', sans-serif;

  // Breakpoints
  --bp-small: 48em; // 768px
  --bp-medium: 64em; // 1024px
  --bp-large: 85.375em; // 1366px
  --bp-xlarge: 120em; // 1920px
  --bp-xxlarge: 160em; // 2560px

  // Media Queries
  --mq-small: '(min-width: #{--bp-small})';
  --mq-medium: '(min-width: #{--bp-medium})';
  --mq-large: '(min-width: #{--bp-large})';
  --mq-xlarge: '(min-width: #{--bp-xlarge})';
  --mq-xxlarge: '(min-width: #{--bp-xxlarge})';
  --mq-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
}

.scrollBtn {
  cursor: pointer;
  position: fixed;
  background-color: #00000038;
  width: 5rem;
  height: 5rem;
  bottom: 100px;
  right: 100px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 50px;

  &:hover {
    transform: translateY(-2px);
  }

  &-icon {
    fill: rgb(50, 50, 50);
    width: 2rem;
    height: 2rem;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1s ease-in-out infinite;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
