$sub-color: rgb(165, 162, 162);
$main-color: #d69f5c;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12.5px;
  color: $main-color;
  letter-spacing: 0.1em;
}

.group {
  position: relative;
  margin: 3rem 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(211, 211, 211);
    margin: 25px 0;

    &:focus {
      outline: none;
      border-bottom: 1px solid #d69f5c;
      -webkit-box-shadow: 0 1px 0 0 #d69f5c;
      box-shadow: 0 1px 0 0 #d69f5c;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
