.admin {
  padding: 0 10px;

  .callToActions {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    ul,
    li {
      list-style-type: none;
    }

    ul {
      li {
        display: inline-block;
      }
    }
  }
}

.manageProducts {
  h1 {
    margin-top: 1.5rem;
  }

  table.results {
    tr {
      &:nth-child(even) {
        background-color: #d3d3d3;
      }

      .thumb {
        width: 15rem;
      }
    }
  }
}

.tworow {
  display: flex;
}
